.about-section {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding: 20px;
}
.about-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.about-title {
    color: var(--whiter);
    font-family: 'League Gothic', sans-serif;
    font-size: 6vmax; 
    text-align: center;
}

.subheader {
    color: var(--white); text-align: center; font-family: 'Poppins', sans-serif;
}

.name {
    color: var(--lightred); text-align: center; font-family: 'Roboto Mono', monospace; font-size: 2rem;
}

.position {
    color: var(--white); text-align: center; font-family: 'Poppins', sans-serif; font-size: 1.4rem; letter-spacing: 0.3rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer h1 {
    color: var(--white);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 100;
}

.footer h1 > a {
    text-decoration: none;
    color: var(--white);
}