.down-button {

}

.landing-section {
    width: 100vw;
    height: 100vh;
}

.landing-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title {
    font-family: 'League Gothic', sans-serif;
    font-size: 10vmax; 
    line-height: 0.9;
}

.landing-image > img {
    width: 25vmax;
    height: auto;
}

.landing-info {
    color: var(--white);
    font-family: 'PT Serif', serif;
    font-size: 1.5vmax;
}