.landing-section {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.landing-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.landing-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title {
    font-family: 'League Gothic', sans-serif;
    font-size: 10vmax; 
    line-height: 0.9;
}
.landing-title:hover {
    cursor: pointer;
}

.second {
    transition: 0.3s;
    color: var(--lightred);
}

.second:hover {
    color: var(--whiter);
}

.landing-image > img {
    width: 25vmax;
    height: auto;
}

.special:hover {
    filter: invert(1);
}

.landing-info {
    color: var(--white);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5vmax;
}