@media screen and (max-width: 884px) /* Recommended width for phones. */ { 
    .landing-wrapper {
        flex-direction: column;
    }
    .landing-image {
        text-align: center;
    }
    .landing-title {
        padding: 10px;
        font-size: 6rem !important;
    }
    .landing-info {
        font-size: 1.4rem;
        padding: 15px;
    }
    .types-row-1, .types-row-2 {
        flex-direction: column;
        justify-content: center;
    }
    .types-title {
        font-size: 4.5rem;
    }
    .landing-title {
        font-size: 10rem; 
        text-align: center;
    }
    .disappear {
        display: none;
    }
    .landing-info {
        text-align: center;
    }
    .solutions-title {
        font-size: 9vmax !important;
    }
    .solutions-container-wrapper {
        flex-direction: column !important; 
    }
    .solutions-container {
        flex-direction: column !important;
        justify-content: center;
        margin-bottom: 20px;
    }
    .solutions-img > img {
        width: 220px !important;
    }
    .solutions-info {
        justify-content: center;
        margin: 10px;
    }
    .solutions-info-title-left, .solutions-info-title-right {
        text-align: center !important;
    }
    .solutions-description-left, .solutions-description-right {
        width: 100% !important;
        font-size: 1.5rem !important;
    }
    .types-wrapper {
        justify-content: center;
        align-items: center;
    }
    .define-images { 
        flex-direction: column !important;
    }
    .define-section {
        height: 100% !important;
    }
    .define-desc > p {
        width: 100% !important;
        padding-left: 15px; padding-right: 15px;
    }
}